<div class="col-sm-10 col-sm-offset-1">
<p align="center">
	Privacy Policy
</p>
<p>
	rvfrtime is an online service that employs modern algorisms to help people improve their productivity, or help with mental health. Our website, 
    mobile properties, and related applications (collectively, our “Website”) are operated by rvftime technology Inc. More details about rvftime can 
    be found below under “How you can contact us”.
</p>
<p>
	We do not require or collect any of your personal information when using our services. The only information that might be exposed is your submitted
	ciphers. We understand that providing information involves a great deal of trust on your part. We take this trust very seriously, and make it a high
	priority to ensure the security and confidentiality of the information you provide to us when you visit our Website or use our services. Before submitting
	your information to us, please read this Policy carefully to learn about our privacy practices. By visiting rvftime’s website, x-i-x.com, or using a
	rvftime application (an “Application” or “App”) on a mobile phone, tablet, or similar device (a “Device”) or in connection with other sites or
	services, you are accepting the practices described herein.
</p>
<h3>
	What information we collect from you
</h3>
<h4>
	In General
</h4>
<p>
	We will receive and store any information you enter on our rvftime or give us in any ways. This information includes your entered texts and
	the corresponding activity note. There’s personal information, registration and/or membership as prerequisites to use the services of rvftime.
</p>
<h4>
	Information About Others
</h4>
<p>
	We will not provide any of your entered information to a third party in any purpose.
</p>
<h4>
	Automatic Information.
</h4>
<p>
	We collect information following your authorization when you visit rvftime from your Device. We might record automatic information when you visit our Website
	from your computer. Such information might include IP address, Cookies and Sessions. These information would not be used by rvftime to serve any
	business purposes.
</p>
<h4>
	Payment Information
</h4>
<p>
	rvftime free do not charge any service fees. There is paid subscribtion fee for the premium rvftime service.<a name="loc"></a>
</p>
<h3>
	<a name="prot"></a>
	How we protect your information
</h3>
<p>
	We want you to feel confident about using rvftime, and we are committed to protecting the information you provided. While no website can guarantee
	security, we have implemented appropriate administrative, technical, and physical security procedures to help protect the information you provide to us.
</p>
<h3>
	<a name="kids"></a>
	Children's privacy
</h3>
<p>
	rvftime is a general audience site and does offer services directed to children. Should an individual whom we know to be a child under age 5 send
	personal information to us, we will need authrization from their parents to store and process any data submitted, or we will delete or destroy such information as soon as reasonably possible.
</p>
<h3>
	<a name="exte"></a>
	External links
</h3>
<p>
	We do not offer any external links while using rvftime.
</p>
<h3>
	<a name="visit"></a>
	Visiting our Website from outside the United States
</h3>
<p>
	If you are visiting our Website from outside the United States, please be aware that your information may be transferred to, stored, and processed in the
	United States where our servers are located and our central database is operated. The data protection and other laws of the United States and other
	countries might not be as comprehensive as those in your country, but please be assured that rvftime does take steps pursuant to laws in the United
	States to ensure that your privacy is protected.
</p>
<h3>
	<a name="calif"></a>
	<a name="chgs"></a>
	Changes to this Privacy Policy
</h3>
<p>
	rvftime technology may change or modify this Privacy Policy in the future. We will note the date that revisions were last made to this Privacy Policy at the
	bottom of this page, and any revisions will take effect upon posting. We will notify our members of material changes to this Privacy Policy by either
	sending a notice to the email address you provided to us or by placing a notice on our Website. We encourage you to check this Privacy Policy from time to
	time to review the most current version.
</p>
<h3>
	<a name="cont"></a>
	How you can contact us
</h3>
<p>
	If you have questions about this Privacy Policy, please contact us at:
</p>
<p>
	rvftime technology Inc
</p>
<p>
	203 Dearborn Blvd
</p>
<p>
	Waterloo, ON
</p>
<p>
	N2J 4Y3
</p>
<p>
	Canada
</p>
<p>
	226-7508200
</p>
<p>
	rvftimetechnology@gmail.com
</p>
<h4>
	<a name="call"></a>
</h4>
<h4>
	Call Recording and Monitoring.
</h4>
<p>
	Please be aware that calls to and from rvftime technology Inc may be recorded. We may use the call recordings to monitor our customer service for quality or
	compliance purposes, to check the accuracy of the information you provide us, for fraud prevention purposes, or to provide training to our staff. We will
	retain the call recordings for as long as reasonably necessary to perform such activities and then delete them. Any personal information obtained from you
	during the call will be treated in accordance with the provisions of this Privacy Policy.
</p>
<p>
	©2016 rvftime technology Inc. All rights reserved.
</p>
</div>